<%= form_for @parcel do |f| %>
  <% if @parcel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parcel.errors.count, "error") %> prohibited this parcel from being saved:</h2>

      <ul>
      <% @parcel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :address, placeholder: "Address", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :address_2, placeholder: "Address 2", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :city, placeholder: "City", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :state, placeholder: "Sstate", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :zip, placeholder: "Zip", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :neighborhood, placeholder: "Neighborhood", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :county, placeholder: "County", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
