<h1>Listing parcels</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Neighborhood</th>
      <th>County</th>
      <th>Name</th>

    </tr>
  </thead>

  <tbody>
    <% @parcels.each do |parcel| %>
      <tr>
        <td><%= parcel.address %></td>
        <td><%= parcel.address_2 %></td>
        <td><%= parcel.city %></td>
        <td><%= parcel.state %></td>
        <td><%= parcel.zip %></td>
        <td><%= parcel.neighborhood %></td>
        <td><%= parcel.county %></td>
        <td><%= parcel.name %></td>
        
        <td><%= link_to 'Show', parcel %></td>
        <td><%= link_to 'Edit', edit_parcel_path(parcel) %></td>
        <td><%= link_to 'Destroy', parcel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parcel', new_parcel_path %>
