

<!--  start Google maps code -->
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUt9keauvaYZOxOlddq6PLkSsuqbH-tn4&sensor=false">
</script>
<script type="text/javascript">



  function initialize() {
    var myLatLng = new google.maps.LatLng(<%= @parcel.latitude %>,<%= @parcel.longitude %>);
    var mapOptions = {
      center: myLatLng,
      zoom: 20,
      mapTypeId:google.maps.MapTypeId.HYBRID
    };

      var map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);


  // To add the marker to the map, use the 'map' property
    
      var marker = new google.maps.Marker({
       position: myLatLng,
        map:map,
         draggable: true,
        animation:google.maps.Animation.DROP,
      });
      
  }

      //  end of initialize
      google.maps.event.addDomListener(window, 'load', initialize);

</script>
<!-- end Google Maps code -->

<% if current_user %>
<div class="jumbotron">
  <div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <div id="map-canvas"></div>
  </div>
  <div class="col-xs-6 col-md-4">
    <h2><%= @parcel.address %><%= @parcel.address_2 %><br><%= @parcel.city %>, <%= @parcel.state %> <%= @parcel.zip %><small><%= @parcel.neighborhood %></small></h2>
  </div>
</div>
  <div><%= link_to edit_parcel_path(@parcel) do %>
       <span class="glyphicon glyphicon-pencil pull-right"></span>
        <% end %>
  </div>
</div>
   
<ul class="nav nav-tabs">
  <li class="active"><a href="#posts" data-toggle="tab"><%= @parcel.posts.size %> Posts</a></li>
   <li><a href="#events" data-toggle="tab"> Timeline </a></li>
  <li><a href="#followers" data-toggle="tab"> Followers</a></li>
</ul>
<div class="tab-content container">
  <div class="tab-pane active" id="posts">
    <div class="area well">
      <%= render 'form_post' %>
    </div>
    <div id="logs" class="transitions-enabled">
      <% @posts.each do |post| %>
      <div class="box panel panel-default">
        <div class="panel-body">
          <div><%= link_to [post.parcel, post], method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-remove-sign pull-right"></span>
          <% end %>
        </div>
          <p><%= simple_format post.body %></p>
          <p>Posted by <a href="<%= user_path post.user %>">
            <span class="name"><%= post.user.first_name %> <%= post.user.last_name %></span></a>
            <span class="spacing"> @<%= post.user.username %></span>
          </p>
          
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="events">
    <div class="area well">
      <%= render 'form_event' %>
    </div>
    <div id="logs" class="transitions-enabled">
      <% @events.each do |event| %>
      <div class="box panel panel-default">
        <div class="panel-body">
          <div><%= link_to [event.parcel, event], method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-remove-sign pull-right"></span>
          <% end %>
        </div>
          <p><%= event.when %></p>
          <p><%= simple_format event.body %></p>
          <p><small>Source: <%= event.source %></small></p>
          <p>Added by <a href="<%= user_path event.user %>">
            <span class="name"><%= event.user.first_name %> <%= event.user.last_name %></span></a>
            <span class="spacing"> @<%= event.user.username %></span>
          </p>
          
        </div>
      </div>
      <% end %>
    </div>
  </div>

  
  <div class="tab-pane" id="followers">
  </div>

</div>
<% end %>




