 <%= form_for @story, url: "/books/#{@book_id}/stories", html: { multipart: true } do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
    <%= f.file_field :image, placeholder: "Photo", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :body, placeholder: "Body", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :source, placeholder: "Source", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
