<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @story.body %>
</p>

<p>
  <strong>Story type:</strong>
  <%= @story.story_type %>
</p>

<p>
  <strong>Source:</strong>
  <%= @story.source %>
</p>

<p>
  <strong>User:</strong>
  <%= @story.user %>
</p>

<p>
  <strong>Book:</strong>
  <%= @story.book %>
</p>

<p>
  <strong>Parcel:</strong>
  <%= @story.parcel %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
