
<div class="panel panel-default">
	<div class="panel-body">
		<p><%= image_tag @story.image.url %></p>
		<p><%= simple_format @story.body %></p>
		<p>Source: <%= @story.source %></p>
	      <%= link_to edit_book_story_path do %><span class="glyphicon glyphicon-pencil pull-right"></span>
      <% end %>
    <%= link_to book_path do %>
      <span class="glyphicon glyphicon-book pull-right"></span>
      <% end %>
  </div>
</div>

