      <%= form_for @post, url: "/parcels/#{@parcel.id}/posts" do |f| %>
      <div class="form-group">
        <%= f.text_field :title, placeholder: "Do you have a story, comment or fact about this parcel? Add at title.", class: "form-control" %>
      </div>
      <div class="form-group">
       <%= f.text_area :body, placeholder: "Do you have a story, comment or fact about this parcel? Add a description", class: "form-control" %>
      </div>
      <div class="form-group">
         <%= f.text_field :source, placeholder: "What is the source of this post?", class: "form-control" %>
      </div>

      <div class="form-group">
       <%= f.submit "Add Post", class: "btn btn-primary" %>
      </div>
      <% end %>

 
